<?xml version="1.0"?>
<robot name="robot">


    <!-- body -->
    <link name="body">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="100"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1"/>
            </geometry>
        </collision>
    </link>


    <!-- body_sensor -->
    <link name="body_sensor">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.02 1.02 1.02"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.02 1.02 1.02"/>
            </geometry>
        </collision>
    </link>
    
    
	<!-- Joint: body, body_sensor -->
    <joint name="body_body_sensor_joint" type="fixed"> 
        <parent link="body"/> 
        <child link="body_sensor"/> 
        <origin xyz="0 0 0" rpy="0 0 0"/> 
        <axis xyz="0 0 0"/> 
    </joint>


    <!-- arrow_base -->
    <link name="arrow_base">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4 0.2 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4 0.2 0.001"/>
            </geometry>
        </collision>
    </link>


    <!-- Joint: body, arrow_base -->
    <joint name="body_arrow_base_joint" type="fixed"> 
        <parent link="body"/> 
        <child link="arrow_base"/> 
        <origin xyz="-0.15 0 0.50000001" rpy="0 0 0"/> 
        <axis xyz="0 0 1"/> 
    </joint>


    <!-- arrow_0 -->
    <link name="arrow_0">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.05 0.5 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.05 0.5 0.001"/>
            </geometry>
        </collision>
    </link>


    <!-- Joint: arrow_base, arrow_0 -->
    <joint name="arrow_base_arrow_0_joint" type="fixed"> 
        <parent link="arrow_base"/> 
        <child link="arrow_0"/> 
        <origin xyz="0.2 0 0" rpy="0 0 0"/> 
        <axis xyz="0 0 1"/> 
    </joint>


    <!-- arrow_1 -->
    <link name="arrow_1">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.05 0.45 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.05 0.45 0.001"/>
            </geometry>
        </collision>
    </link>


    <!-- Joint: arrow_0, arrow_1 -->
    <joint name="arrow_0_arrow_1_joint" type="fixed"> 
        <parent link="arrow_0"/> 
        <child link="arrow_1"/> 
        <origin xyz="0.025 0 0" rpy="0 0 0"/> 
        <axis xyz="0 0 1"/> 
    </joint>


    <!-- arrow_2 -->
    <link name="arrow_2">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.05 0.4 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.05 0.4 0.001"/>
            </geometry>
        </collision>
    </link>


    <!-- Joint: arrow_1, arrow_2 -->
    <joint name="arrow_1_arrow_2_joint" type="fixed"> 
        <parent link="arrow_1"/> 
        <child link="arrow_2"/> 
        <origin xyz="0.025 0 0" rpy="0 0 0"/> 
        <axis xyz="0 0 1"/> 
    </joint>


    <!-- arrow_3 -->
    <link name="arrow_3">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.05 0.35 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.05 0.35 0.001"/>
            </geometry>
        </collision>
    </link>


    <!-- Joint: arrow_2, arrow_3 -->
    <joint name="arrow_2_arrow_3_joint" type="fixed"> 
        <parent link="arrow_2"/> 
        <child link="arrow_3"/> 
        <origin xyz="0.025 0 0" rpy="0 0 0"/> 
        <axis xyz="0 0 1"/> 
    </joint>


    <!-- arrow_4 -->
    <link name="arrow_4">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.05 0.3 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.05 0.3 0.001"/>
            </geometry>
        </collision>
    </link>


    <!-- Joint: arrow_3, arrow_4 -->
    <joint name="arrow_3_arrow_4_joint" type="fixed"> 
        <parent link="arrow_3"/> 
        <child link="arrow_4"/> 
        <origin xyz="0.025 0 0" rpy="0 0 0"/> 
        <axis xyz="0 0 1"/> 
    </joint>


    <!-- arrow_5 -->
    <link name="arrow_5">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.05 0.25 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.05 0.25 0.001"/>
            </geometry>
        </collision>
    </link>


    <!-- Joint: arrow_4, arrow_5 -->
    <joint name="arrow_4_arrow_5_joint" type="fixed"> 
        <parent link="arrow_4"/> 
        <child link="arrow_5"/> 
        <origin xyz="0.025 0 0" rpy="0 0 0"/> 
        <axis xyz="0 0 1"/> 
    </joint>


    <!-- arrow_6 -->
    <link name="arrow_6">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.05 0.19999999999999996 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.05 0.19999999999999996 0.001"/>
            </geometry>
        </collision>
    </link>


    <!-- Joint: arrow_5, arrow_6 -->
    <joint name="arrow_5_arrow_6_joint" type="fixed"> 
        <parent link="arrow_5"/> 
        <child link="arrow_6"/> 
        <origin xyz="0.025 0 0" rpy="0 0 0"/> 
        <axis xyz="0 0 1"/> 
    </joint>


    <!-- arrow_7 -->
    <link name="arrow_7">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.05 0.14999999999999997 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.05 0.14999999999999997 0.001"/>
            </geometry>
        </collision>
    </link>


    <!-- Joint: arrow_6, arrow_7 -->
    <joint name="arrow_6_arrow_7_joint" type="fixed"> 
        <parent link="arrow_6"/> 
        <child link="arrow_7"/> 
        <origin xyz="0.025 0 0" rpy="0 0 0"/> 
        <axis xyz="0 0 1"/> 
    </joint>


    <!-- arrow_8 -->
    <link name="arrow_8">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.05 0.09999999999999998 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.05 0.09999999999999998 0.001"/>
            </geometry>
        </collision>
    </link>


    <!-- Joint: arrow_7, arrow_8 -->
    <joint name="arrow_7_arrow_8_joint" type="fixed"> 
        <parent link="arrow_7"/> 
        <child link="arrow_8"/> 
        <origin xyz="0.025 0 0" rpy="0 0 0"/> 
        <axis xyz="0 0 1"/> 
    </joint>


    <!-- arrow_9 -->
    <link name="arrow_9">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.05 0.04999999999999999 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.05 0.04999999999999999 0.001"/>
            </geometry>
        </collision>
    </link>


    <!-- Joint: arrow_8, arrow_9 -->
    <joint name="arrow_8_arrow_9_joint" type="fixed"> 
        <parent link="arrow_8"/> 
        <child link="arrow_9"/> 
        <origin xyz="0.025 0 0" rpy="0 0 0"/> 
        <axis xyz="0 0 1"/> 
    </joint>


    <!-- left_shoulder -->
    <link name="left_shoulder">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.1"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4 0.5 0.8"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4 0.5 0.8"/>
            </geometry>
        </collision>
    </link>


    <!-- Joint: body, left_shoulder -->
    <joint name="body_left_shoulder_joint" type="continuous"> 
        <parent link="body"/> 
        <child link="left_shoulder"/> 
        <origin xyz="0 0.75 0" rpy="0 0 0"/> 
        <axis xyz="0 -1 0"/> 
    </joint>


    <!-- left_arm -->
    <link name="left_arm">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.1"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="3 0.4 0.8"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="3 0.4 0.8"/>
            </geometry>
        </collision>
    </link>


    <!-- left_arm_sensor -->
    <link name="left_arm_sensor">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="3.02 0.42000000000000004 0.8200000000000001"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="3.02 0.42000000000000004 0.8200000000000001"/>
            </geometry>
        </collision>
    </link>
    
    
	<!-- Joint: left_arm, left_arm_sensor -->
    <joint name="left_arm_left_arm_sensor_joint" type="fixed"> 
        <parent link="left_arm"/> 
        <child link="left_arm_sensor"/> 
        <origin xyz="0 0 0" rpy="0 0 0"/> 
        <axis xyz="0 0 0"/> 
    </joint>


    <!-- Joint: left_shoulder, left_arm -->
    <joint name="left_shoulder_left_arm_joint" type="fixed"> 
        <parent link="left_shoulder"/> 
        <child link="left_arm"/> 
        <origin xyz="1.3 0.25 0" rpy="0 0 0"/> 
        <axis xyz="1 0 0"/> 
    </joint>


    <!-- hand -->
    <link name="hand">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.1"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4 1.6 0.8"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4 1.6 0.8"/>
            </geometry>
        </collision>
    </link>


    <!-- hand_sensor -->
    <link name="hand_sensor">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.42000000000000004 1.62 0.8200000000000001"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.42000000000000004 1.62 0.8200000000000001"/>
            </geometry>
        </collision>
    </link>
    
    
	<!-- Joint: hand, hand_sensor -->
    <joint name="hand_hand_sensor_joint" type="fixed"> 
        <parent link="hand"/> 
        <child link="hand_sensor"/> 
        <origin xyz="0 0 0" rpy="0 0 0"/> 
        <axis xyz="0 0 0"/> 
    </joint>


    <!-- Joint: left_arm, hand -->
    <joint name="left_arm_hand_joint" type="fixed"> 
        <parent link="left_arm"/> 
        <child link="hand"/> 
        <origin xyz="1.3 -1 0" rpy="0 0 0"/> 
        <axis xyz="0 0 0"/> 
    </joint>


    <!-- right_arm -->
    <link name="right_arm">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.1"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="3 0.4 0.8"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="3 0.4 0.8"/>
            </geometry>
        </collision>
    </link>


    <!-- right_arm_sensor -->
    <link name="right_arm_sensor">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="3.02 0.42000000000000004 0.8200000000000001"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="3.02 0.42000000000000004 0.8200000000000001"/>
            </geometry>
        </collision>
    </link>
    
    
	<!-- Joint: right_arm, right_arm_sensor -->
    <joint name="right_arm_right_arm_sensor_joint" type="fixed"> 
        <parent link="right_arm"/> 
        <child link="right_arm_sensor"/> 
        <origin xyz="0 0 0" rpy="0 0 0"/> 
        <axis xyz="0 0 0"/> 
    </joint>


    <!-- Joint: hand, right_arm -->
    <joint name="hand_right_arm_joint" type="fixed"> 
        <parent link="hand"/> 
        <child link="right_arm"/> 
        <origin xyz="-1.3 -1 0" rpy="0 0 0"/> 
        <axis xyz="1 0 0"/> 
    </joint>


    <!-- right_shoulder -->
    <link name="right_shoulder">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.1"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4 0.5 0.8"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4 0.5 0.8"/>
            </geometry>
        </collision>
    </link>


    <!-- Joint: right_arm, right_shoulder -->
    <joint name="right_arm_right_shoulder_joint" type="fixed"> 
        <parent link="right_arm"/> 
        <child link="right_shoulder"/> 
        <origin xyz="-1.3 0.25 0" rpy="0 0 0"/> 
        <axis xyz="0 -1 0"/> 
    </joint>

</robot>