<?xml version="1.0"?>
<robot name="robot">


    <!-- body -->
    <link name="body">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="100"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1"/>
            </geometry>
        </collision>
    </link>


    <!-- body_sensor_0_start -->
    <link name="body_sensor_0_start">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.02 1 1"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.02 1 1"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: body, body_sensor_0_start -->
    <joint name="body_body_sensor_0_start_joint" type="fixed">
        <parent link="body"/>
        <child link="body_sensor_0_start"/>
        <origin xyz="0.5 0 0"
                rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        
    </joint>


    <!-- body_sensor_0_stop -->
    <link name="body_sensor_0_stop">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.02 1 1"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.02 1 1"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: body, body_sensor_0_stop -->
    <joint name="body_body_sensor_0_stop_joint" type="fixed">
        <parent link="body"/>
        <child link="body_sensor_0_stop"/>
        <origin xyz="-0.5 0 0"
                rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        
    </joint>


    <!-- body_sensor_0_top -->
    <link name="body_sensor_0_top">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0 1 0.02"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0 1 0.02"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: body, body_sensor_0_top -->
    <joint name="body_body_sensor_0_top_joint" type="fixed">
        <parent link="body"/>
        <child link="body_sensor_0_top"/>
        <origin xyz="0 0 0.5"
                rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        
    </joint>


    <!-- body_sensor_0_bottom -->
    <link name="body_sensor_0_bottom">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0 1 0.02"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0 1 0.02"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: body, body_sensor_0_bottom -->
    <joint name="body_body_sensor_0_bottom_joint" type="fixed">
        <parent link="body"/>
        <child link="body_sensor_0_bottom"/>
        <origin xyz="0 0 -0.5"
                rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        
    </joint>


    <!-- body_sensor_0_left -->
    <link name="body_sensor_0_left">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0 0.02 1"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0 0.02 1"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: body, body_sensor_0_left -->
    <joint name="body_body_sensor_0_left_joint" type="fixed">
        <parent link="body"/>
        <child link="body_sensor_0_left"/>
        <origin xyz="0 0.5 0"
                rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        
    </joint>


    <!-- body_sensor_0_right -->
    <link name="body_sensor_0_right">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0 0.02 1"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0 0.02 1"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: body, body_sensor_0_right -->
    <joint name="body_body_sensor_0_right_joint" type="fixed">
        <parent link="body"/>
        <child link="body_sensor_0_right"/>
        <origin xyz="0 -0.5 0"
                rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        
    </joint>


    <!-- shoulder -->
    <link name="shoulder">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="10"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4 0.4 0.8"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4 0.4 0.8"/>
            </geometry>
        </collision>
    </link>


    <!-- shoulder_sensor_0_start -->
    <link name="shoulder_sensor_0_start">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.02 0.4 0.8"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.02 0.4 0.8"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: shoulder, shoulder_sensor_0_start -->
    <joint name="shoulder_shoulder_sensor_0_start_joint" type="fixed">
        <parent link="shoulder"/>
        <child link="shoulder_sensor_0_start"/>
        <origin xyz="0.2 0 0"
                rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        
    </joint>


    <!-- shoulder_sensor_0_stop -->
    <link name="shoulder_sensor_0_stop">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.02 0.4 0.8"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.02 0.4 0.8"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: shoulder, shoulder_sensor_0_stop -->
    <joint name="shoulder_shoulder_sensor_0_stop_joint" type="fixed">
        <parent link="shoulder"/>
        <child link="shoulder_sensor_0_stop"/>
        <origin xyz="-0.2 0 0"
                rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        
    </joint>


    <!-- shoulder_sensor_0_top -->
    <link name="shoulder_sensor_0_top">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4 0.4 0.02"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4 0.4 0.02"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: shoulder, shoulder_sensor_0_top -->
    <joint name="shoulder_shoulder_sensor_0_top_joint" type="fixed">
        <parent link="shoulder"/>
        <child link="shoulder_sensor_0_top"/>
        <origin xyz="0 0 0.4"
                rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        
    </joint>


    <!-- shoulder_sensor_0_bottom -->
    <link name="shoulder_sensor_0_bottom">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4 0.4 0.02"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4 0.4 0.02"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: shoulder, shoulder_sensor_0_bottom -->
    <joint name="shoulder_shoulder_sensor_0_bottom_joint" type="fixed">
        <parent link="shoulder"/>
        <child link="shoulder_sensor_0_bottom"/>
        <origin xyz="0 0 -0.4"
                rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        
    </joint>


    <!-- shoulder_sensor_0_left -->
    <link name="shoulder_sensor_0_left">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4 0.02 0.8"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4 0.02 0.8"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: shoulder, shoulder_sensor_0_left -->
    <joint name="shoulder_shoulder_sensor_0_left_joint" type="fixed">
        <parent link="shoulder"/>
        <child link="shoulder_sensor_0_left"/>
        <origin xyz="0 0.2 0"
                rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        
    </joint>


    <!-- shoulder_sensor_0_right -->
    <link name="shoulder_sensor_0_right">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4 0.02 0.8"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4 0.02 0.8"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: shoulder, shoulder_sensor_0_right -->
    <joint name="shoulder_shoulder_sensor_0_right_joint" type="fixed">
        <parent link="shoulder"/>
        <child link="shoulder_sensor_0_right"/>
        <origin xyz="0 -0.2 0"
                rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        
    </joint>
    <!-- Joint: body, shoulder -->
    <joint name="body_shoulder_joint" type="continuous">
        <parent link="body"/>
        <child link="shoulder"/>
        <origin xyz="0 0 0.7"
                rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        <limit lower="0" upper="0" effort="0" velocity="0"/>
    </joint>


    <!-- arm -->
    <link name="arm">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="10"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.75 0.4 0.4"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.75 0.4 0.4"/>
            </geometry>
        </collision>
    </link>


    <!-- arm_sensor_0_start -->
    <link name="arm_sensor_0_start">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.02 0.4 0.4"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.02 0.4 0.4"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: arm, arm_sensor_0_start -->
    <joint name="arm_arm_sensor_0_start_joint" type="fixed">
        <parent link="arm"/>
        <child link="arm_sensor_0_start"/>
        <origin xyz="1.375 0 0"
                rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
        
    </joint>


    <!-- arm_sensor_0_stop -->
    <link name="arm_sensor_0_stop">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.02 0.4 0.4"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.02 0.4 0.4"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: arm, arm_sensor_0_stop -->
    <joint name="arm_arm_sensor_0_stop_joint" type="fixed">
        <parent link="arm"/>
        <child link="arm_sensor_0_stop"/>
        <origin xyz="-1.375 0 0"
                rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
        
    </joint>


    <!-- arm_sensor_0_top -->
    <link name="arm_sensor_0_top">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.75 0.4 0.02"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.75 0.4 0.02"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: arm, arm_sensor_0_top -->
    <joint name="arm_arm_sensor_0_top_joint" type="fixed">
        <parent link="arm"/>
        <child link="arm_sensor_0_top"/>
        <origin xyz="0 0 0.2"
                rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
        
    </joint>


    <!-- arm_sensor_0_bottom -->
    <link name="arm_sensor_0_bottom">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.75 0.4 0.02"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.75 0.4 0.02"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: arm, arm_sensor_0_bottom -->
    <joint name="arm_arm_sensor_0_bottom_joint" type="fixed">
        <parent link="arm"/>
        <child link="arm_sensor_0_bottom"/>
        <origin xyz="0 0 -0.2"
                rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
        
    </joint>


    <!-- arm_sensor_0_left -->
    <link name="arm_sensor_0_left">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.75 0.02 0.4"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.75 0.02 0.4"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: arm, arm_sensor_0_left -->
    <joint name="arm_arm_sensor_0_left_joint" type="fixed">
        <parent link="arm"/>
        <child link="arm_sensor_0_left"/>
        <origin xyz="0 0.2 0"
                rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
        
    </joint>


    <!-- arm_sensor_0_right -->
    <link name="arm_sensor_0_right">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.75 0.02 0.4"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.75 0.02 0.4"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: arm, arm_sensor_0_right -->
    <joint name="arm_arm_sensor_0_right_joint" type="fixed">
        <parent link="arm"/>
        <child link="arm_sensor_0_right"/>
        <origin xyz="0 -0.2 0"
                rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
        
    </joint>
    <!-- Joint: shoulder, arm -->
    <joint name="shoulder_arm_joint" type="fixed">
        <parent link="shoulder"/>
        <child link="arm"/>
        <origin xyz="1.575 0 0.2"
                rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
        
    </joint>


    <!-- hand_1 -->
    <link name="hand_1">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="10"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 0.4 1"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1 0.4 1"/>
            </geometry>
        </collision>
    </link>


    <!-- hand_1_sensor_0_start -->
    <link name="hand_1_sensor_0_start">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.02 0.4 1"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.02 0.4 1"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: hand_1, hand_1_sensor_0_start -->
    <joint name="hand_1_hand_1_sensor_0_start_joint" type="fixed">
        <parent link="hand_1"/>
        <child link="hand_1_sensor_0_start"/>
        <origin xyz="0.5 0 0"
                rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
        
    </joint>


    <!-- hand_1_sensor_0_stop -->
    <link name="hand_1_sensor_0_stop">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.02 0.4 1"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.02 0.4 1"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: hand_1, hand_1_sensor_0_stop -->
    <joint name="hand_1_hand_1_sensor_0_stop_joint" type="fixed">
        <parent link="hand_1"/>
        <child link="hand_1_sensor_0_stop"/>
        <origin xyz="-0.5 0 0"
                rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
        
    </joint>


    <!-- hand_1_sensor_0_top -->
    <link name="hand_1_sensor_0_top">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0 0.4 0.02"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0 0.4 0.02"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: hand_1, hand_1_sensor_0_top -->
    <joint name="hand_1_hand_1_sensor_0_top_joint" type="fixed">
        <parent link="hand_1"/>
        <child link="hand_1_sensor_0_top"/>
        <origin xyz="0 0 0.5"
                rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
        
    </joint>


    <!-- hand_1_sensor_0_bottom -->
    <link name="hand_1_sensor_0_bottom">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0 0.4 0.02"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0 0.4 0.02"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: hand_1, hand_1_sensor_0_bottom -->
    <joint name="hand_1_hand_1_sensor_0_bottom_joint" type="fixed">
        <parent link="hand_1"/>
        <child link="hand_1_sensor_0_bottom"/>
        <origin xyz="0 0 -0.5"
                rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
        
    </joint>


    <!-- hand_1_sensor_0_left -->
    <link name="hand_1_sensor_0_left">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0 0.02 1"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0 0.02 1"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: hand_1, hand_1_sensor_0_left -->
    <joint name="hand_1_hand_1_sensor_0_left_joint" type="fixed">
        <parent link="hand_1"/>
        <child link="hand_1_sensor_0_left"/>
        <origin xyz="0 0.2 0"
                rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
        
    </joint>


    <!-- hand_1_sensor_0_right -->
    <link name="hand_1_sensor_0_right">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0 0.02 1"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.0 0.02 1"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: hand_1, hand_1_sensor_0_right -->
    <joint name="hand_1_hand_1_sensor_0_right_joint" type="fixed">
        <parent link="hand_1"/>
        <child link="hand_1_sensor_0_right"/>
        <origin xyz="0 -0.2 0"
                rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
        
    </joint>
    <!-- Joint: arm, hand_1 -->
    <joint name="arm_hand_1_joint" type="fixed">
        <parent link="arm"/>
        <child link="hand_1"/>
        <origin xyz="0.875 0 -0.7"
                rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
        
    </joint>


    <!-- body_face_0 -->
    <link name="body_face_0">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.002 0.1111111111111111 0.1111111111111111"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.002 0.1111111111111111 0.1111111111111111"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: body, body_face_0 -->
    <joint name="body_body_face_0_joint" type="fixed">
        <parent link="body"/>
        <child link="body_face_0"/>
        <origin xyz="0.501 -0.33333333333333337 0.11111111111111116"
                rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        
    </joint>


    <!-- body_face_1 -->
    <link name="body_face_1">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.002 0.1111111111111111 0.1111111111111111"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.002 0.1111111111111111 0.1111111111111111"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: body, body_face_1 -->
    <joint name="body_body_face_1_joint" type="fixed">
        <parent link="body"/>
        <child link="body_face_1"/>
        <origin xyz="0.501 -0.2222222222222222 0.2222222222222222"
                rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        
    </joint>


    <!-- body_face_2 -->
    <link name="body_face_2">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.002 0.1111111111111111 0.1111111111111111"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.002 0.1111111111111111 0.1111111111111111"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: body, body_face_2 -->
    <joint name="body_body_face_2_joint" type="fixed">
        <parent link="body"/>
        <child link="body_face_2"/>
        <origin xyz="0.501 -0.1111111111111111 0.11111111111111116"
                rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        
    </joint>


    <!-- body_face_3 -->
    <link name="body_face_3">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.002 0.1111111111111111 0.1111111111111111"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.002 0.1111111111111111 0.1111111111111111"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: body, body_face_3 -->
    <joint name="body_body_face_3_joint" type="fixed">
        <parent link="body"/>
        <child link="body_face_3"/>
        <origin xyz="0.501 -0.1111111111111111 -0.2222222222222222"
                rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        
    </joint>


    <!-- body_face_4 -->
    <link name="body_face_4">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.002 0.1111111111111111 0.1111111111111111"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.002 0.1111111111111111 0.1111111111111111"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: body, body_face_4 -->
    <joint name="body_body_face_4_joint" type="fixed">
        <parent link="body"/>
        <child link="body_face_4"/>
        <origin xyz="0.501 0.0 -0.2222222222222222"
                rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        
    </joint>


    <!-- body_face_5 -->
    <link name="body_face_5">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.002 0.1111111111111111 0.1111111111111111"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.002 0.1111111111111111 0.1111111111111111"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: body, body_face_5 -->
    <joint name="body_body_face_5_joint" type="fixed">
        <parent link="body"/>
        <child link="body_face_5"/>
        <origin xyz="0.501 0.11111111111111116 0.11111111111111116"
                rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        
    </joint>


    <!-- body_face_6 -->
    <link name="body_face_6">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.002 0.1111111111111111 0.1111111111111111"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.002 0.1111111111111111 0.1111111111111111"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: body, body_face_6 -->
    <joint name="body_body_face_6_joint" type="fixed">
        <parent link="body"/>
        <child link="body_face_6"/>
        <origin xyz="0.501 0.11111111111111116 -0.2222222222222222"
                rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        
    </joint>


    <!-- body_face_7 -->
    <link name="body_face_7">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.002 0.1111111111111111 0.1111111111111111"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.002 0.1111111111111111 0.1111111111111111"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: body, body_face_7 -->
    <joint name="body_body_face_7_joint" type="fixed">
        <parent link="body"/>
        <child link="body_face_7"/>
        <origin xyz="0.501 0.2222222222222222 0.2222222222222222"
                rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        
    </joint>


    <!-- body_face_8 -->
    <link name="body_face_8">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.002 0.1111111111111111 0.1111111111111111"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.002 0.1111111111111111 0.1111111111111111"/>
            </geometry>
        </collision>
    </link>
    <!-- Joint: body, body_face_8 -->
    <joint name="body_body_face_8_joint" type="fixed">
        <parent link="body"/>
        <child link="body_face_8"/>
        <origin xyz="0.501 0.33333333333333337 0.11111111111111116"
                rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
        
    </joint>


</robot>