
<?xml version="1.0"?>
<robot name="shape">
  <!-- Definition of the base -->

  <link name="base">
    <visual>
      <geometry>
        <box size="1 1 1"/>
      </geometry>
      <material name="base_material">
        <color rgba="1 1 1 1"/> 
      </material>
    </visual>
    <collision>
      <geometry>
          <box size="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
        <mass value="100"/>
        <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
    </inertial>
  </link>
 
  <link name="cross_1">
    <visual>
      <geometry>
        <box size="0.01 0.15 1"/>
      </geometry>
      <material name="cross_1_material">
        <color rgba="1 1 1 1"/> 
      </material>
    </visual>
    <collision>
      <geometry>
          <box size="0.01 0.15 1"/>
      </geometry>
    </collision>
    <inertial>
        <mass value="0"/>
        <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
    </inertial>
  </link>
  
  <joint name="cross_1_joint" type="fixed">
    <parent link="base"/>
    <child link="cross_1"/>
    <origin xyz="0.505 0 0" rpy="0 0 0"/>
  </joint>
  
  <link name="cross_2">
    <visual>
      <geometry>
        <box size="0.01 1 0.15"/>
      </geometry>
      <material name="cross_2_material">
        <color rgba="1 1 1 1"/> 
      </material>
    </visual>
    <collision>
      <geometry>
          <box size="0.01 1 0.15"/>
      </geometry>
    </collision>
    <inertial>
        <mass value="0"/>
        <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
    </inertial>
  </link>
  
  <joint name="cross_2_joint" type="fixed">
    <parent link="base"/>
    <child link="cross_2"/>
    <origin xyz="0.505 0 0" rpy="0 0 0"/>
  </joint>
  
</robot>
