
<?xml version="1.0"?>
<robot name="shape">
    <!-- Definition of the base -->

    <link name="base">
        <visual>
            <geometry>
                <cylinder length=".1" radius="0.6"/>
            </geometry>
            <material name="base_material">
                <color rgba="1 1 1 1"/> 
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length=".1" radius="0.6"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="100"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
    </link>
<!-- Definition of the shape -->
 
    <link name="0">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder length="1" radius="0.2"/>
            </geometry>
            <material name="red">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="1" radius="0.2"/>
            </geometry>
        </collision>
        <inertial>
            <mass value=".1"/>
            <inertia ixx=".1" ixy=".1" ixz=".1" iyy=".1" iyz=".1" izz=".1"/>
        </inertial>
    </link>

    <joint name="0_joint" type="fixed">
        <parent link="base"/>
        <child link="0"/>
        <origin xyz="0 0 0.55" rpy="0 0 0"/>
    </joint>

</robot>